@import "tailwindcss";

body {
    width: 100%;
    height: 100%;
    background: #070724 url('./assets/background-stars.svg') no-repeat center center fixed;
}

h1{
    color:#fff;
}


@theme {
--color-white: #FFFFFF;
--color-deep-space-blue: #070724;
--color-dark-gray: #38384F;
--color-gray: #838391;
--color-ocean-blue: #419EBB;
--color-sunset-orange: #EDA249;
--color-rust-orange: #CD5120;
--color-purple: #6F2ED6;
--color-red: #D14C32;
--color-red-fire: #D83A34;
--color-green: #1EC2A4;
--color-azure: #2D68F0; 
}